flow.json
[
    {
        "id": "006e761ebec3950a",
        "type": "tab",
        "label": "GPS-MQTT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "aeb7525ab85c57cf",
        "type": "tab",
        "label": "OwnTrack",
        "disabled": false,
        "info": ""
    },
    {
        "id": "083b23ab72f662ce",
        "type": "tab",
        "label": "グローバル",
        "disabled": false,
        "info": ""
    },
    {
        "id": "af3d37bbb5024b33",
        "type": "tab",
        "label": "API",
        "disabled": false,
        "info": ""
    },
    {
        "id": "78d2ec05bc770adc",
        "type": "tab",
        "label": "gpsd",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7adb20e994873399",
        "type": "subflow",
        "name": "LINE作成 ",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 140,
                "wires": [
                    {
                        "id": "644d18d9981a2f19"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1300,
                "y": 140,
                "wires": [
                    {
                        "id": "564c5f0228438425",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1300,
                "y": 220,
                "wires": [
                    {
                        "id": "e33cebfd0265ad86",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "7822e817.03bb38",
        "type": "ui_group",
        "name": "1移動走行データ",
        "tab": "546e8856.780a68",
        "order": 2,
        "disp": true,
        "width": 15,
        "collapse": false
    },
    {
        "id": "ac7569b4.5ada88",
        "type": "mqtt-broker",
        "name": "moquitto",
        "broker": "ve036.mydns.jp",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "1e861d64.540cc3",
        "type": "ui_group",
        "name": "移動車情報",
        "tab": "f3718fdd.d84b88",
        "order": 1,
        "disp": false,
        "width": 26,
        "collapse": false
    },
    {
        "id": "4646bf9b.55c01",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "8d28ce58.17ad78",
        "type": "ui_group",
        "name": "デフォルト",
        "tab": "f240af3.61c2dd",
        "order": 1,
        "disp": true,
        "width": 18,
        "collapse": false
    },
    {
        "id": "546e8856.780a68",
        "type": "ui_tab",
        "name": "1移動GPS",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f3718fdd.d84b88",
        "type": "ui_tab",
        "name": "地図",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f240af3.61c2dd",
        "type": "ui_tab",
        "name": "GPS DATA",
        "icon": "dashboard",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9f9dd395b909dbb2",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED ダッシュボード",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "YYYY/MM/DD",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "4a2c27937259670e",
        "type": "websocket-listener",
        "path": "/ws/location",
        "wholemsg": "false"
    },
    {
        "id": "58bd0fd66116561d",
        "type": "mqtt-broker",
        "name": "home",
        "broker": "192.168.24.65",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ecf8e4501c4d2e58",
        "type": "ui_group",
        "name": "3移動",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": true
    },
    {
        "id": "ce506c0b22440fb3",
        "type": "ui_group",
        "name": "移動車情報",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": true
    },
    {
        "id": "5f4944a8c3476a81",
        "type": "ui_group",
        "name": "3移動走行データ",
        "tab": "662606b1db5b76d8",
        "order": 3,
        "disp": true,
        "width": "15",
        "collapse": true
    },
    {
        "id": "63a80202535f757f",
        "type": "ui_group",
        "name": "デフォルト",
        "tab": "",
        "order": 1,
        "disp": true,
        "width": 18,
        "collapse": false
    },
    {
        "id": "5d19e2233ff99cdb",
        "type": "ui_group",
        "name": "GPS距離計コントロール",
        "tab": "",
        "order": 3,
        "disp": true,
        "width": "7",
        "collapse": true
    },
    {
        "id": "662606b1db5b76d8",
        "type": "ui_tab",
        "name": "3移動GPS",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d5c06a430f677e1d",
        "type": "serial-port",
        "serialport": "COM4",
        "serialbaud": "57600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "aeef5a8b73bce907",
        "type": "ui_spacer",
        "z": "aeb7525ab85c57cf",
        "name": "spacer",
        "group": "ecf8e4501c4d2e58",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "f586058ba159f1c2",
        "type": "ui_spacer",
        "z": "aeb7525ab85c57cf",
        "name": "spacer",
        "group": "ecf8e4501c4d2e58",
        "order": 17,
        "width": 4,
        "height": 1
    },
    {
        "id": "ee4c87bab8571abf",
        "type": "ui_spacer",
        "z": "aeb7525ab85c57cf",
        "name": "spacer",
        "group": "ecf8e4501c4d2e58",
        "order": 19,
        "width": 2,
        "height": 1
    },
    {
        "id": "c8750f6c180be534",
        "type": "ui_spacer",
        "z": "aeb7525ab85c57cf",
        "name": "spacer",
        "group": "5d19e2233ff99cdb",
        "order": 3,
        "width": 1,
        "height": 1
    },
    {
        "id": "0a9efd6dd15568ac",
        "type": "ui_spacer",
        "z": "aeb7525ab85c57cf",
        "name": "spacer",
        "group": "5d19e2233ff99cdb",
        "order": 5,
        "width": 3,
        "height": 1
    },
    {
        "id": "8339ba969cb3ac6c",
        "type": "ui_spacer",
        "z": "083b23ab72f662ce",
        "name": "spacer",
        "group": "7822e817.03bb38",
        "order": 9,
        "width": 12,
        "height": 1
    },
    {
        "id": "eae2bd8f2e6f170a",
        "type": "ui_spacer",
        "z": "083b23ab72f662ce",
        "name": "spacer",
        "group": "7822e817.03bb38",
        "order": 13,
        "width": 12,
        "height": 1
    },
    {
        "id": "7e00aa185f9f435c",
        "type": "ui_spacer",
        "z": "083b23ab72f662ce",
        "name": "spacer",
        "group": "7822e817.03bb38",
        "order": 14,
        "width": 12,
        "height": 1
    },
    {
        "id": "d7a5d14331ec6ff1",
        "type": "ui_spacer",
        "z": "083b23ab72f662ce",
        "name": "spacer",
        "group": "7822e817.03bb38",
        "order": 15,
        "width": 12,
        "height": 1
    },
    {
        "id": "2b321e736632825c",
        "type": "ui_spacer",
        "z": "083b23ab72f662ce",
        "name": "spacer",
        "group": "5f4944a8c3476a81",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "fbc05ab2ea1169eb",
        "type": "ui_spacer",
        "z": "083b23ab72f662ce",
        "name": "spacer",
        "group": "5f4944a8c3476a81",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "e0bcfb490befb950",
        "type": "ui_spacer",
        "z": "083b23ab72f662ce",
        "name": "spacer",
        "group": "5f4944a8c3476a81",
        "order": 10,
        "width": 12,
        "height": 1
    },
    {
        "id": "8599636b7b080dc6",
        "type": "ui_spacer",
        "z": "083b23ab72f662ce",
        "name": "spacer",
        "group": "5f4944a8c3476a81",
        "order": 11,
        "width": 12,
        "height": 1
    },
    {
        "id": "417171b22cf87a40",
        "type": "ui_spacer",
        "z": "083b23ab72f662ce",
        "name": "spacer",
        "group": "5f4944a8c3476a81",
        "order": 12,
        "width": 12,
        "height": 1
    },
    {
        "id": "ab278137ab70fd04",
        "type": "mqtt-broker",
        "name": "home2",
        "broker": "192.168.24.13",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "ee74ce02a36b648c",
        "type": "ui_group",
        "name": "方角距離",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "7",
        "collapse": false
    },
    {
        "id": "230b3c921bbf4313",
        "type": "ui_spacer",
        "z": "006e761ebec3950a",
        "name": "spacer",
        "group": "1e861d64.540cc3",
        "order": 14,
        "width": 6,
        "height": 1
    },
    {
        "id": "c888b312839f185d",
        "type": "ui_spacer",
        "z": "006e761ebec3950a",
        "name": "spacer",
        "group": "1e861d64.540cc3",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "f18f9b06ec5a7b39",
        "type": "ui_spacer",
        "z": "006e761ebec3950a",
        "name": "spacer",
        "group": "1e861d64.540cc3",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "f9852950c32db898",
        "type": "ui_spacer",
        "z": "006e761ebec3950a",
        "name": "spacer",
        "group": "1e861d64.540cc3",
        "order": 20,
        "width": 15,
        "height": 1
    },
    {
        "id": "15a9c4e5b4442a1f",
        "type": "ui_spacer",
        "z": "006e761ebec3950a",
        "name": "spacer",
        "group": "1e861d64.540cc3",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "9d012f4a071b7e1f",
        "type": "ui_spacer",
        "z": "006e761ebec3950a",
        "name": "spacer",
        "group": "1e861d64.540cc3",
        "order": 22,
        "width": 1,
        "height": 1
    },
    {
        "id": "e486b595be3cbf93",
        "type": "ui_spacer",
        "z": "006e761ebec3950a",
        "name": "spacer",
        "group": "1e861d64.540cc3",
        "order": 23,
        "width": 15,
        "height": 1
    },
    {
        "id": "bd684fe8e4d98f7a",
        "type": "ui_spacer",
        "z": "006e761ebec3950a",
        "name": "spacer",
        "group": "1e861d64.540cc3",
        "order": 24,
        "width": 1,
        "height": 1
    },
    {
        "id": "285c3fe54e58086d",
        "type": "ui_spacer",
        "z": "006e761ebec3950a",
        "name": "spacer",
        "group": "1e861d64.540cc3",
        "order": 25,
        "width": 1,
        "height": 1
    },
    {
        "id": "17d76d6071589c4e",
        "type": "ui_spacer",
        "z": "006e761ebec3950a",
        "name": "spacer",
        "group": "1e861d64.540cc3",
        "order": 26,
        "width": 15,
        "height": 1
    },
    {
        "id": "dc020f838704b3da",
        "type": "ui_spacer",
        "z": "006e761ebec3950a",
        "name": "spacer",
        "group": "1e861d64.540cc3",
        "order": 28,
        "width": 1,
        "height": 1
    },
    {
        "id": "f3aab561527ca674",
        "type": "ui_spacer",
        "z": "006e761ebec3950a",
        "name": "spacer",
        "group": "1e861d64.540cc3",
        "order": 30,
        "width": 1,
        "height": 1
    },
    {
        "id": "84dbb19ddde98f4d",
        "type": "ui_spacer",
        "z": "006e761ebec3950a",
        "name": "spacer",
        "group": "1e861d64.540cc3",
        "order": 32,
        "width": 15,
        "height": 1
    },
    {
        "id": "c79133129023d8d2",
        "type": "debug",
        "z": "006e761ebec3950a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 400,
        "wires": []
    },
    {
        "id": "cbb71b1d8fa3bf8e",
        "type": "ui_template",
        "z": "006e761ebec3950a",
        "group": "7822e817.03bb38",
        "name": "Speed",
        "order": 2,
        "width": 7,
        "height": 2,
        "format": "<font size=\"7\"><div ng-bind-html=\"msg.payload\"> </div></font> ",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 750,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "ab576d8c6c99af0a",
        "type": "template",
        "z": "006e761ebec3950a",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "時速 : {{payload.kmh}} km",
        "output": "str",
        "x": 520,
        "y": 820,
        "wires": [
            [
                "cbb71b1d8fa3bf8e"
            ]
        ]
    },
    {
        "id": "9b89b3fde52dce8d",
        "type": "change",
        "z": "006e761ebec3950a",
        "name": "1移動",
        "rules": [
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "1移動",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.iconColor",
                "pt": "msg",
                "to": "blue",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.icon",
                "pt": "msg",
                "to": "arrow",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 90,
        "y": 540,
        "wires": [
            [
                "c79133129023d8d2",
                "ce6f4b8bbd89b451",
                "979668403c9c1bb5",
                "c1796f3c6d3f6050",
                "1c742859a794912e",
                "4d97a6522904cd49"
            ]
        ]
    },
    {
        "id": "c1796f3c6d3f6050",
        "type": "ui_worldmap",
        "z": "006e761ebec3950a",
        "group": "7822e817.03bb38",
        "order": 3,
        "width": 8,
        "height": 6,
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "16",
        "layer": "OSM",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "deg",
        "showgrid": "true",
        "path": "/worldmap1",
        "x": 1170,
        "y": 540,
        "wires": []
    },
    {
        "id": "5ba5eb0cc93200fc",
        "type": "inject",
        "z": "006e761ebec3950a",
        "name": "",
        "props": [
            {
                "p": "payload.lat",
                "v": "lat1",
                "vt": "global"
            },
            {
                "p": "payload.lon",
                "v": "lon1",
                "vt": "global"
            }
        ],
        "repeat": "4",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 850,
        "y": 420,
        "wires": [
            [
                "bad4989420b6dbb8"
            ]
        ]
    },
    {
        "id": "bad4989420b6dbb8",
        "type": "function",
        "z": "006e761ebec3950a",
        "name": "move map",
        "func": "msg.payload ={\n    command:{\n        lat: msg.payload.lat,\n        lon: msg.payload.lon,\n    }    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 480,
        "wires": [
            [
                "c1796f3c6d3f6050"
            ]
        ]
    },
    {
        "id": "1c742859a794912e",
        "type": "ui_gauge",
        "z": "006e761ebec3950a",
        "name": "",
        "group": "7822e817.03bb38",
        "order": 12,
        "width": 3,
        "height": 3,
        "gtype": "compass",
        "title": "{{msg.payload.name}}進行",
        "label": "℃",
        "format": "{{msg.payload.bearing}}",
        "min": "0",
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 320,
        "y": 580,
        "wires": []
    },
    {
        "id": "11ebb778608c8903",
        "type": "mqtt in",
        "z": "006e761ebec3950a",
        "name": "",
        "topic": "trip1/gps",
        "qos": "0",
        "datatype": "json",
        "broker": "58bd0fd66116561d",
        "nl": false,
        "rap": false,
        "x": 80,
        "y": 320,
        "wires": [
            [
                "ad12062763057944",
                "46913c78f1e585f8",
                "5d99c9073a216387",
                "0eb1020faa9f87c5",
                "2daa6b25f253882d"
            ]
        ]
    },
    {
        "id": "75c0371851afe444",
        "type": "function",
        "z": "006e761ebec3950a",
        "name": "前後GPS",
        "func": "msg.payload={\n    lat:msg.payload.lat,\n    lon:msg.payload.lon,\n    latx:latx,\n    lony:lony,\n    tstd:tstd,\n    altd:altd,\n    //name:msg.payload.name,\n    alt:msg.payload.alt,\n    tst:msg.payload.time,\n    track:msg.payload.track,\n    speed:msg.payload.speed,\n    climb: msg.payload.climb,\n    acc:(msg.payload.epx+msg.payload.epy)/2,\n}\nlatx=msg.payload.lat;\nlony=msg.payload.lon;\ntstd=msg.payload.tst;\naltd=msg.payload.alt;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// ここに記述したコードは、ノードをデプロイした時に\n// 一度だけ実行されます。\nlatx=0;\nlony=0;\ntstd=0;\naltd=0;",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "a9eed84a5d9aede0",
        "type": "function",
        "z": "006e761ebec3950a",
        "name": "@時差距離re角度",
        "func": "function distance(lat1, lng1, lat2, lng2 ) {\n    \n         lat1 *= Math.PI / 180;\n         lng1 *= Math.PI / 180;\n         lat2 *= Math.PI / 180;\n         lng2 *= Math.PI / 180;\n         dis = 1000*6371 * Math.acos(Math.cos(lat1) * Math.cos(lat2) * Math.cos(lng2 - lng1) + Math.sin(lat1) * Math.sin(lat2))\n         return (Math.round(dis * 100)) / 100;\n    \n     \n}\n\nfunction direction(y1, x1, y2, x2) {\n    z = x2-x1\n    z *=  Math.PI / 180;\n    y1 *= Math.PI / 180;\n    x1 *= Math.PI / 180;\n    y2 *= Math.PI / 180;\n    x2 *= Math.PI / 180;\n\n    a=Math.sin(z);\n    b=Math.cos(y1)*Math.tan(y2);\n    c=Math.sin(y1)*Math.cos(z);\n   \n    dir=Math.atan2(a,b-c)*180/Math.PI;\n\n    if(dir<0){\n        dir=dir+360;\n    }\nreturn (Math.floor(dir*100)) / 100;\n}\n\nfunction redirection(y1, x1, y2, x2, bearing) {\n    z = x2-x1\n    z *=  Math.PI / 180;\n    y1 *= Math.PI / 180;\n    x1 *= Math.PI / 180;\n    y2 *= Math.PI /180;\n    x2 *= Math.PI / 180;\n\n    a=Math.sin(z);\n    b=Math.cos(y1)*Math.tan(y2);\n    c=Math.sin(y1)*Math.cos(z);\n\n    dir=Math.atan2(a,b-c)*180/Math.PI;\n\n    if(dir<0){\n        dir=dir+360;\n    }\n    re_dir=dir-bearing;\n    if(re_dir<0){\n        re_dir=re_dir+360;\n    }\nreturn (Math.floor(re_dir*100)) / 100;\n}\n\n//function kmh(x) {\n//return (Math.round(x*3.6*100))/100;\n//}\n\n//if(msg.payload.tst==msg.payload.tstd){\n//    msg.payload={\n//        error:msg.payload.tst,\n//    };\n//return msg;    \n//}\n//else{\ncoe=global.get(\"coe\");\ngenku=flow.get(\"genku\");\ndist=distance(msg.payload.lat,msg.payload.lon,msg.payload.latx, msg.payload.lony);\ndist=dist*coe[genku];\n\nif(dist>=0){\nmsg.payload={\n    dis:dist,\n    track: msg.payload.track,\n    lat: msg.payload.lat,\n    lon: msg.payload.lon,\n    latx:msg.payload.latx,\n    lony:msg.payload.lony,\n    tst: msg.payload.tst,\n    tstd: msg.payload.tstd,\n    alt: msg.payload.alt,\n    altd: msg.payload.altd,\n    //device: msg.payload.device,\n    //speed:msg.payload.speed,\n    kmh:msg.payload.speed*3.6,\n    //kmh: Math.round((msg.payload.speed*3.6*100))/100,\n    climb: msg.payload.climb,\n    acc:msg.payload.acc,\n    };\nreturn msg;\n}\n//}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// ここに記述したコードは、ノードをデプロイした時に\n// 一度だけ実行されます。\ndis=0.00",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "6101f8709f983a56",
        "type": "change",
        "z": "006e761ebec3950a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.epx",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "epx",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 220,
        "wires": [
            [
                "17c8a275ef800df3"
            ]
        ]
    },
    {
        "id": "9e7ca512f3d5dbce",
        "type": "change",
        "z": "006e761ebec3950a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.epy",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "epy",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 280,
        "wires": [
            [
                "17c8a275ef800df3"
            ]
        ]
    },
    {
        "id": "17c8a275ef800df3",
        "type": "ui_chart",
        "z": "006e761ebec3950a",
        "name": "",
        "group": "8d28ce58.17ad78",
        "order": 2,
        "width": 18,
        "height": 5,
        "label": "1移動epx,epy",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#c44040",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 920,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "fcdfa14fbca9f883",
        "type": "ui_text",
        "z": "006e761ebec3950a",
        "group": "7822e817.03bb38",
        "order": 4,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "GPS発行時間",
        "format": "{{msg.payload.time}}",
        "layout": "row-spread",
        "x": 620,
        "y": 320,
        "wires": []
    },
    {
        "id": "979668403c9c1bb5",
        "type": "change",
        "z": "006e761ebec3950a",
        "name": "global1移動",
        "rules": [
            {
                "t": "set",
                "p": "lat1",
                "pt": "global",
                "to": "payload.lat",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "lon1",
                "pt": "global",
                "to": "payload.lon",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "name1",
                "pt": "global",
                "to": "payload.name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "bearing1",
                "pt": "global",
                "to": "payload.bearing",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "iconColor1",
                "pt": "global",
                "to": "payload.iconColor",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "color1",
                "pt": "global",
                "to": "payload.color",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 760,
        "wires": [
            [
                "9cb2b099d884dc41",
                "c7898d5fa8d47f82"
            ]
        ]
    },
    {
        "id": "d669bd5f94e826eb",
        "type": "change",
        "z": "006e761ebec3950a",
        "name": "kmh",
        "rules": [
            {
                "t": "set",
                "p": "payload.kmh",
                "pt": "msg",
                "to": "$round(payload.kmh*100)/100",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "238d0a3d4a146f50",
        "type": "ui_text",
        "z": "006e761ebec3950a",
        "group": "7822e817.03bb38",
        "order": 7,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "総距離",
        "format": "{{msg.payload.oddt}}",
        "layout": "row-spread",
        "x": 1630,
        "y": 340,
        "wires": []
    },
    {
        "id": "79b396582cf744de",
        "type": "debug",
        "z": "006e761ebec3950a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 370,
        "y": 1060,
        "wires": []
    },
    {
        "id": "a861ade6cb9f4c5b",
        "type": "catch",
        "z": "006e761ebec3950a",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 160,
        "y": 1060,
        "wires": [
            [
                "79b396582cf744de"
            ]
        ]
    },
    {
        "id": "be3621005bbb1f2f",
        "type": "template",
        "z": "006e761ebec3950a",
        "name": "現情報",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.genku}}/{{payload.zenku}}区　1移動距離:{{payload.odd}}m/{{payload.kukyori}}m",
        "output": "str",
        "x": 1630,
        "y": 400,
        "wires": [
            [
                "834303469632caf0",
                "3f3d80aadb36a20d"
            ]
        ]
    },
    {
        "id": "834303469632caf0",
        "type": "ui_template",
        "z": "006e761ebec3950a",
        "group": "7822e817.03bb38",
        "name": "区/距離",
        "order": 10,
        "width": 15,
        "height": 2,
        "format": "<font size=\"6\"><div ng-bind-html=\"msg.payload\"> </div></font> ",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1800,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "9681564cba1792f1",
        "type": "worldmap in",
        "z": "006e761ebec3950a",
        "name": "",
        "path": "/worldmap1",
        "events": "connect",
        "x": 560,
        "y": 660,
        "wires": [
            [
                "c4cc3a6d06cb196b",
                "7b9ed0b1780f1b25",
                "914ebf6619be35dc",
                "e69305dd852faaf9"
            ]
        ]
    },
    {
        "id": "c4cc3a6d06cb196b",
        "type": "change",
        "z": "006e761ebec3950a",
        "name": "base",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "base",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 660,
        "wires": [
            [
                "c1796f3c6d3f6050"
            ]
        ]
    },
    {
        "id": "7b9ed0b1780f1b25",
        "type": "change",
        "z": "006e761ebec3950a",
        "name": "reset",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "reset",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 700,
        "wires": [
            [
                "c1796f3c6d3f6050"
            ]
        ]
    },
    {
        "id": "3b903a05b6a21bf2",
        "type": "debug",
        "z": "006e761ebec3950a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1610,
        "y": 280,
        "wires": []
    },
    {
        "id": "5d99c9073a216387",
        "type": "delay",
        "z": "006e761ebec3950a",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 350,
        "y": 280,
        "wires": [
            [
                "9e7ca512f3d5dbce",
                "6101f8709f983a56"
            ]
        ]
    },
    {
        "id": "914ebf6619be35dc",
        "type": "function",
        "z": "006e761ebec3950a",
        "name": "地理院地図",
        "func": "msg.payload = {\n    command:{\"map\":{\n                    \"name\":\"GSI\",\n                    \"url\":\"https://cyberjapandata.gsi.go.jp/xyz/std/{z}/{x}/{y}.png\",\n                    \"opt\":{ \"maxZoom\":19, \n                            \"attribution\":\"&copy; OpenStreetMap\" \n                        }\n                    }\n            }\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 890,
        "y": 620,
        "wires": [
            [
                "c1796f3c6d3f6050"
            ]
        ]
    },
    {
        "id": "3f3d80aadb36a20d",
        "type": "ui_template",
        "z": "006e761ebec3950a",
        "group": "1e861d64.540cc3",
        "name": "1移動情報",
        "order": 2,
        "width": 11,
        "height": 1,
        "format": "<font size=\"5\"><div ng-bind-html=\"msg.payload\"></div></font>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1810,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "ce6f4b8bbd89b451",
        "type": "link out",
        "z": "006e761ebec3950a",
        "name": "1移動",
        "links": [
            "5bc8b1cd9e2e17d8",
            "a9dd9c08d420fbc1"
        ],
        "x": 255,
        "y": 460,
        "wires": []
    },
    {
        "id": "ad12062763057944",
        "type": "debug",
        "z": "006e761ebec3950a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 110,
        "y": 260,
        "wires": []
    },
    {
        "id": "63aab43a926703da",
        "type": "mqtt in",
        "z": "006e761ebec3950a",
        "name": "",
        "topic": "trip1/odd",
        "qos": "0",
        "datatype": "json",
        "broker": "58bd0fd66116561d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 1420,
        "y": 340,
        "wires": [
            [
                "be3621005bbb1f2f",
                "238d0a3d4a146f50",
                "3b903a05b6a21bf2"
            ]
        ]
    },
    {
        "id": "39ce8c7c29bed32f",
        "type": "ui_text",
        "z": "083b23ab72f662ce",
        "group": "7822e817.03bb38",
        "order": 5,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "サーバー時間",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 600,
        "y": 700,
        "wires": []
    },
    {
        "id": "f5155b2582352819",
        "type": "catch",
        "z": "083b23ab72f662ce",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 1180,
        "y": 180,
        "wires": [
            [
                "1f7176adf7277b11"
            ]
        ]
    },
    {
        "id": "1f7176adf7277b11",
        "type": "debug",
        "z": "083b23ab72f662ce",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 180,
        "wires": []
    },
    {
        "id": "532f26ac5f58325a",
        "type": "ui_worldmap",
        "z": "083b23ab72f662ce",
        "group": "1e861d64.540cc3",
        "order": 1,
        "width": 15,
        "height": 12,
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "16",
        "layer": "OSM",
        "cluster": "",
        "maxage": "3600",
        "usermenu": "hide",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "deg",
        "showgrid": "false",
        "path": "/worldmap",
        "x": 1220,
        "y": 460,
        "wires": []
    },
    {
        "id": "221a40c6707080b7",
        "type": "function",
        "z": "083b23ab72f662ce",
        "name": "move map",
        "func": "msg.payload ={\n    command:{\n        lat: msg.payload.lat,\n        lon: msg.payload.lon,\n        //layer:\"Esri\",\n    }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 260,
        "wires": [
            [
                "0e8ee917b45db9a1"
            ]
        ]
    },
    {
        "id": "a57c0d1dd5651c22",
        "type": "switch",
        "z": "083b23ab72f662ce",
        "name": "",
        "property": "select",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 830,
        "y": 100,
        "wires": [
            [
                "221a40c6707080b7",
                "7e51ac5ac38c98c8",
                "fe441c0dcab3740b"
            ]
        ]
    },
    {
        "id": "6d4f20751b3cbc7a",
        "type": "switch",
        "z": "083b23ab72f662ce",
        "name": "",
        "property": "select",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 830,
        "y": 180,
        "wires": [
            [
                "221a40c6707080b7",
                "7e51ac5ac38c98c8"
            ]
        ]
    },
    {
        "id": "0f675fc432df5d35",
        "type": "ui_dropdown",
        "z": "083b23ab72f662ce",
        "name": "1/2/3 スマホセレクト",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "1e861d64.540cc3",
        "order": 13,
        "width": 4,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "1移動",
                "value": 1,
                "type": "num"
            },
            {
                "label": "2移動",
                "value": 2,
                "type": "num"
            },
            {
                "label": "3移動",
                "value": 3,
                "type": "num"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 120,
        "y": 540,
        "wires": [
            [
                "4118187c7907c3a5"
            ]
        ]
    },
    {
        "id": "4118187c7907c3a5",
        "type": "change",
        "z": "083b23ab72f662ce",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "select",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "0e8ee917b45db9a1",
        "type": "switch",
        "z": "083b23ab72f662ce",
        "name": "",
        "property": "automove",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1210,
        "y": 320,
        "wires": [
            [
                "0254017e5b726446"
            ]
        ]
    },
    {
        "id": "8b2046cd0e28aba0",
        "type": "ui_switch",
        "z": "083b23ab72f662ce",
        "name": "",
        "label": "AUTO MOVE",
        "tooltip": "",
        "group": "1e861d64.540cc3",
        "order": 11,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 120,
        "y": 600,
        "wires": [
            [
                "1a5760ff88d7e129"
            ]
        ]
    },
    {
        "id": "1a5760ff88d7e129",
        "type": "change",
        "z": "083b23ab72f662ce",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "automove",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "46f661ade89f616e",
        "type": "mqtt in",
        "z": "083b23ab72f662ce",
        "name": "",
        "topic": "owntracks/nodered/aquos/dump",
        "qos": "2",
        "datatype": "auto",
        "broker": "ab278137ab70fd04",
        "nl": false,
        "rap": false,
        "x": 210,
        "y": 1140,
        "wires": [
            [
                "02cbd5b6a7fe3c62"
            ]
        ]
    },
    {
        "id": "02cbd5b6a7fe3c62",
        "type": "json",
        "z": "083b23ab72f662ce",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 1140,
        "wires": [
            [
                "4c574c9b79fefdd5"
            ]
        ]
    },
    {
        "id": "4c574c9b79fefdd5",
        "type": "debug",
        "z": "083b23ab72f662ce",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 1140,
        "wires": []
    },
    {
        "id": "2b5ecaf48353e3a6",
        "type": "change",
        "z": "083b23ab72f662ce",
        "name": "reset",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "reset",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 500,
        "wires": [
            [
                "0254017e5b726446"
            ]
        ]
    },
    {
        "id": "fea94b7d3bddc361",
        "type": "change",
        "z": "083b23ab72f662ce",
        "name": "base",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "base",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 460,
        "wires": [
            [
                "0254017e5b726446"
            ]
        ]
    },
    {
        "id": "10afb1db3aa9f70f",
        "type": "worldmap in",
        "z": "083b23ab72f662ce",
        "name": "",
        "path": "/worldmap",
        "events": "connect",
        "x": 540,
        "y": 420,
        "wires": [
            [
                "fea94b7d3bddc361",
                "2b5ecaf48353e3a6",
                "a78e4acdbfa8e720",
                "90b8de7ecf37254f"
            ]
        ]
    },
    {
        "id": "b94f01f596ed757c",
        "type": "exec",
        "z": "083b23ab72f662ce",
        "command": "gpsd -N udp://*:29998",
        "addpay": false,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 340,
        "y": 1060,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "51da1e71875e9c7e",
        "type": "inject",
        "z": "083b23ab72f662ce",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 1060,
        "wires": [
            [
                "b94f01f596ed757c"
            ]
        ]
    },
    {
        "id": "0254017e5b726446",
        "type": "worldmap",
        "z": "083b23ab72f662ce",
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "",
        "cluster": "",
        "maxage": "3600",
        "usermenu": "hide",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "x": 1220,
        "y": 400,
        "wires": []
    },
    {
        "id": "a78e4acdbfa8e720",
        "type": "function",
        "z": "083b23ab72f662ce",
        "name": "地理院地図",
        "func": "msg.payload = {\n    command:{\"map\":{\n                    \"name\":\"GSI\",\n                    \"url\":\"https://cyberjapandata.gsi.go.jp/xyz/std/{z}/{x}/{y}.png\",\n                    \"opt\":{ \"maxZoom\":19, \n                            \"attribution\":\"&copy; OpenStreetMap\" \n                        }\n                    }\n            }\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 770,
        "y": 420,
        "wires": [
            [
                "0254017e5b726446"
            ]
        ]
    },
    {
        "id": "a9dd9c08d420fbc1",
        "type": "link in",
        "z": "083b23ab72f662ce",
        "name": "",
        "links": [
            "ce6f4b8bbd89b451"
        ],
        "x": 695,
        "y": 100,
        "wires": [
            [
                "a57c0d1dd5651c22"
            ]
        ]
    },
    {
        "id": "88043283bf0ff348",
        "type": "http request",
        "z": "af3d37bbb5024b33",
        "name": "yahoo場所情報",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://map.yahooapis.jp/placeinfo/V1/get?lat={{lat}}&lon={{lon}}&appid={{appid}}&output=json&sort=score",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 440,
        "y": 300,
        "wires": [
            [
                "faa2222f511601b8"
            ]
        ]
    },
    {
        "id": "6716f53d4132df7e",
        "type": "http request",
        "z": "af3d37bbb5024b33",
        "name": "yahoo住所",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://map.yahooapis.jp/geoapi/V1/reverseGeoCoder?appid={{appid}}&output=json&lat={{lat}}&lon={{lon}}&datum=wgs",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 450,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "36879325b161d162",
        "type": "inject",
        "z": "af3d37bbb5024b33",
        "name": "",
        "props": [
            {
                "p": "lon",
                "v": "lon1",
                "vt": "global"
            },
            {
                "p": "lat",
                "v": "lat1",
                "vt": "global"
            },
            {
                "p": "appid",
                "v": "dj00aiZpPTZyZ2NIdHVYMnhEbCZzPWNvbnN1bWVyc2VjcmV0Jng9MDE-",
                "vt": "str"
            }
        ],
        "repeat": "20",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "f35571894a821a49"
            ]
        ]
    },
    {
        "id": "cdcf40cbdb08ae41",
        "type": "http request",
        "z": "af3d37bbb5024b33",
        "name": "yahoo標高",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://map.yahooapis.jp/alt/V1/getAltitude?appid={{appid}}&coordinates={{lon}},{{lat}}&output=json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 470,
        "y": 420,
        "wires": [
            [
                "077b14da11d34f12"
            ]
        ]
    },
    {
        "id": "077b14da11d34f12",
        "type": "change",
        "z": "af3d37bbb5024b33",
        "name": "標高GET",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Feature.0.Property.Altitude",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "alt",
                "pt": "global",
                "to": "payload.Feature.0.Property.Altitude",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 420,
        "wires": [
            [
                "8efed7a4a97674b0",
                "6be1ccbf615386aa",
                "6ce3c143f4462f91",
                "df55eda284bcb737"
            ]
        ]
    },
    {
        "id": "faa2222f511601b8",
        "type": "change",
        "z": "af3d37bbb5024b33",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.ResultSet.Result",
                "pt": "msg",
                "to": "payload.result",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.ResultSet.Area",
                "pt": "msg",
                "to": "payload.area",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload.ResultSet",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 300,
        "wires": [
            [
                "4b0aab1d523f705b"
            ]
        ]
    },
    {
        "id": "31d6fa538586eff8",
        "type": "csv",
        "z": "af3d37bbb5024b33",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "all",
        "multi": "one",
        "ret": "\\n",
        "temp": "result,area",
        "skip": "0",
        "strings": false,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 1090,
        "y": 240,
        "wires": [
            [
                "048c860af8d9bfbc",
                "e7555977a4435b37"
            ]
        ]
    },
    {
        "id": "048c860af8d9bfbc",
        "type": "debug",
        "z": "af3d37bbb5024b33",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1410,
        "y": 240,
        "wires": []
    },
    {
        "id": "4b0aab1d523f705b",
        "type": "change",
        "z": "af3d37bbb5024b33",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.area",
                "pt": "msg",
                "to": "payload.area.0.Name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.result",
                "pt": "msg",
                "to": "payload.result[0].Name",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 300,
        "wires": [
            [
                "4dac88cb0c4473d1",
                "2433b8f171c2441c"
            ]
        ]
    },
    {
        "id": "e7555977a4435b37",
        "type": "file",
        "z": "af3d37bbb5024b33",
        "name": "",
        "filename": "/home/pi/samba/public/result.csv",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1380,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "f35571894a821a49",
        "type": "switch",
        "z": "af3d37bbb5024b33",
        "name": "",
        "property": "api",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 290,
        "y": 300,
        "wires": [
            [
                "88043283bf0ff348"
            ]
        ]
    },
    {
        "id": "0a96f8c8b422e789",
        "type": "inject",
        "z": "af3d37bbb5024b33",
        "name": "",
        "props": [
            {
                "p": "lon",
                "v": "lon1",
                "vt": "global"
            },
            {
                "p": "lat",
                "v": "lat1",
                "vt": "global"
            },
            {
                "p": "appid",
                "v": "dj00aiZpPTZyZ2NIdHVYMnhEbCZzPWNvbnN1bWVyc2VjcmV0Jng9MDE-",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 420,
        "wires": [
            [
                "2ca7184d1ae546f0"
            ]
        ]
    },
    {
        "id": "2ca7184d1ae546f0",
        "type": "switch",
        "z": "af3d37bbb5024b33",
        "name": "",
        "property": "api",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 310,
        "y": 420,
        "wires": [
            [
                "cdcf40cbdb08ae41"
            ]
        ]
    },
    {
        "id": "6be1ccbf615386aa",
        "type": "ui_chart",
        "z": "af3d37bbb5024b33",
        "name": "API高度",
        "group": "7822e817.03bb38",
        "order": 1,
        "width": 15,
        "height": 4,
        "label": "API高度",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "monotone",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 840,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "8efed7a4a97674b0",
        "type": "debug",
        "z": "af3d37bbb5024b33",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 500,
        "wires": []
    },
    {
        "id": "8aba1b6c8d4721c4",
        "type": "ui_switch",
        "z": "af3d37bbb5024b33",
        "name": "",
        "label": "API",
        "tooltip": "",
        "group": "1e861d64.540cc3",
        "order": 12,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "x": 150,
        "y": 220,
        "wires": [
            [
                "08e1fc1e05cacfa2"
            ]
        ]
    },
    {
        "id": "08e1fc1e05cacfa2",
        "type": "change",
        "z": "af3d37bbb5024b33",
        "name": "flow.api",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "api",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "6109b986b9d3d5e4",
        "type": "catch",
        "z": "af3d37bbb5024b33",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 190,
        "y": 600,
        "wires": [
            [
                "45d6303b380e17b5"
            ]
        ]
    },
    {
        "id": "45d6303b380e17b5",
        "type": "debug",
        "z": "af3d37bbb5024b33",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 600,
        "wires": []
    },
    {
        "id": "4dac88cb0c4473d1",
        "type": "template",
        "z": "af3d37bbb5024b33",
        "name": "現情報",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.result}}／{{payload.area}}",
        "output": "str",
        "x": 1090,
        "y": 360,
        "wires": [
            [
                "ae3259c61d6ce48c",
                "a1889393f270040d"
            ]
        ]
    },
    {
        "id": "ae3259c61d6ce48c",
        "type": "ui_template",
        "z": "af3d37bbb5024b33",
        "group": "7822e817.03bb38",
        "name": "場所情報",
        "order": 11,
        "width": 15,
        "height": 2,
        "format": "<font size=\"6\"><div ng-bind-html=\"msg.payload\"> </div></font> ",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1300,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "fe352fe03161cb78",
        "type": "mqtt in",
        "z": "aeb7525ab85c57cf",
        "name": "",
        "topic": "owntracks/nodered/aquos",
        "qos": "0",
        "datatype": "auto",
        "broker": "58bd0fd66116561d",
        "nl": false,
        "rap": false,
        "x": 130,
        "y": 60,
        "wires": [
            [
                "bed197c5894e8b47"
            ]
        ]
    },
    {
        "id": "5d9d665f0ce2fc06",
        "type": "template",
        "z": "aeb7525ab85c57cf",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "時速 : {{payload.kmh}} km",
        "output": "str",
        "x": 740,
        "y": 580,
        "wires": [
            [
                "d944c7abaf298366"
            ]
        ]
    },
    {
        "id": "d944c7abaf298366",
        "type": "ui_template",
        "z": "aeb7525ab85c57cf",
        "group": "5f4944a8c3476a81",
        "name": "Speed",
        "order": 1,
        "width": 6,
        "height": 2,
        "format": "<font size=\"7\"><div ng-bind-html=\"msg.payload\"> </div></font> ",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 910,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "389b567aa2d8f68e",
        "type": "ui_gauge",
        "z": "aeb7525ab85c57cf",
        "name": "",
        "group": "5f4944a8c3476a81",
        "order": 9,
        "width": 3,
        "height": 3,
        "gtype": "compass",
        "title": "{{msg.payload.name}}進行",
        "label": "℃",
        "format": "{{msg.payload.bearing}}",
        "min": "0",
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 500,
        "y": 420,
        "wires": []
    },
    {
        "id": "2a319d6557b36ed1",
        "type": "debug",
        "z": "aeb7525ab85c57cf",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 300,
        "wires": []
    },
    {
        "id": "65a264793457c4fe",
        "type": "ui_worldmap",
        "z": "aeb7525ab85c57cf",
        "group": "5f4944a8c3476a81",
        "order": 2,
        "width": 9,
        "height": 7,
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "16",
        "layer": "OSM",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "deg",
        "showgrid": "true",
        "path": "/worldmap3",
        "x": 1590,
        "y": 360,
        "wires": []
    },
    {
        "id": "5a93da1b47bdd0b8",
        "type": "change",
        "z": "aeb7525ab85c57cf",
        "name": "global3移動",
        "rules": [
            {
                "t": "set",
                "p": "lat3",
                "pt": "global",
                "to": "payload.lat",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "lon3",
                "pt": "global",
                "to": "payload.lon",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "name3",
                "pt": "global",
                "to": "payload.name",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "bearing3",
                "pt": "global",
                "to": "payload.bearing",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "iconColor3",
                "pt": "global",
                "to": "payload.iconColor",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.color",
                "pt": "msg",
                "to": "color3",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "4d0e6f63622f4655",
        "type": "debug",
        "z": "aeb7525ab85c57cf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 570,
        "y": 940,
        "wires": []
    },
    {
        "id": "293f68c6fe51ed4d",
        "type": "catch",
        "z": "aeb7525ab85c57cf",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 340,
        "y": 940,
        "wires": [
            [
                "4d0e6f63622f4655"
            ]
        ]
    },
    {
        "id": "fe58377640f0af77",
        "type": "ui_chart",
        "z": "aeb7525ab85c57cf",
        "name": "",
        "group": "8d28ce58.17ad78",
        "order": 1,
        "width": 18,
        "height": 5,
        "label": "ACC",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 910,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "0ec73d7770ee3e77",
        "type": "change",
        "z": "aeb7525ab85c57cf",
        "name": "3移動",
        "rules": [
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "3移動",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.icon",
                "pt": "msg",
                "to": "arrow",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.iconColor",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.iconSize",
                "pt": "msg",
                "to": "64",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 360,
        "wires": [
            [
                "389b567aa2d8f68e",
                "65a264793457c4fe",
                "2a319d6557b36ed1",
                "49005e76c77f4e29",
                "5a93da1b47bdd0b8",
                "f23a3aa8e506eb2f",
                "5d9d665f0ce2fc06",
                "6431d7f126204980",
                "5e316521ba7d022c"
            ]
        ]
    },
    {
        "id": "bed197c5894e8b47",
        "type": "json",
        "z": "aeb7525ab85c57cf",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 90,
        "y": 200,
        "wires": [
            [
                "aa5747510e193c63",
                "ead4edbd94325d40"
            ]
        ]
    },
    {
        "id": "737b5f7ecc723d36",
        "type": "change",
        "z": "aeb7525ab85c57cf",
        "name": "time",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.tst*1000",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 260,
        "wires": [
            [
                "b8886d9bad733552"
            ]
        ]
    },
    {
        "id": "2fed0c4a96d6e066",
        "type": "function",
        "z": "aeb7525ab85c57cf",
        "name": "tst変換",
        "func": "var date = new Date();\ndate.setTime(msg.payload*1000);\nmsg.payload = date.toString();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 110,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "a76e2912385cd21c",
        "type": "function",
        "z": "aeb7525ab85c57cf",
        "name": "前後GPS",
        "func": "msg.payload={\n    lat:msg.payload.lat,\n    lon:msg.payload.lon,\n    latx:latx,\n    lony:lony,\n    tstd:tstd,\n    altd:altd,\n    name:msg.payload.name,\n    alt:msg.payload.alt,\n    tst:msg.payload.tst,\n    acc:msg.payload.acc\n}\nlatx=msg.payload.lat;\nlony=msg.payload.lon;\ntstd=msg.payload.tst;\naltd=msg.payload.alt;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// ここに記述したコードは、ノードをデプロイした時に\n// 一度だけ実行されます。\nlatx=0;\nlony=0;\ntstd=0;\naltd=0;",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 280,
        "wires": [
            [
                "de59981dc188e17a"
            ]
        ]
    },
    {
        "id": "de59981dc188e17a",
        "type": "switch",
        "z": "aeb7525ab85c57cf",
        "name": "latx not 0",
        "property": "payload.latx",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 100,
        "y": 360,
        "wires": [
            [
                "db46ddd70c79e5f7"
            ]
        ]
    },
    {
        "id": "db46ddd70c79e5f7",
        "type": "function",
        "z": "aeb7525ab85c57cf",
        "name": "速度方向勾配計算",
        "func": "min=flow.get(\"min\");\nif(flow.get(\"latx\") == null){\n    flow.set(\"latx\",msg.payload.latx);\n    flow.set(\"lony\",msg.payload.lony);\n}\n\nfunction distance(lat1, lng1, lat2, lng2 ) {\n    \n         lat1 *= Math.PI / 180;\n         lng1 *= Math.PI / 180;\n         lat2 *= Math.PI / 180;\n         lng2 *= Math.PI / 180;\n         dis = 1000*6371 * Math.acos(Math.cos(lat1) * Math.cos(lat2) * Math.cos(lng2 - lng1) + Math.sin(lat1) * Math.sin(lat2))\n         return (Math.round(dis * 100)) / 100;\n    \n     \n}\n\nfunction direction(y1, x1, y2, x2) {\n    z = x2-x1\n    z *=  Math.PI / 180;\n    y1 *= Math.PI / 180;\n    x1 *= Math.PI / 180;\n    y2 *= Math.PI / 180;\n    x2 *= Math.PI / 180;\n\n    a=Math.sin(z);\n    b=Math.cos(y1)*Math.tan(y2);\n    c=Math.sin(y1)*Math.cos(z);\n   \n    dir=Math.atan2(a,b-c)*180/Math.PI;\n\n    if(dir<0){\n        dir=dir+360;\n    }\nreturn (Math.floor(dir*100)) / 100;\n}\n\nfunction redirection(y1, x1, y2, x2, bearing) {\n    z = x2-x1\n    z *=  Math.PI / 180;\n    y1 *= Math.PI / 180;\n    x1 *= Math.PI / 180;\n    y2 *= Math.PI /180;\n    x2 *= Math.PI / 180;\n\n    a=Math.sin(z);\n    b=Math.cos(y1)*Math.tan(y2);\n    c=Math.sin(y1)*Math.cos(z);\n\n    dir=Math.atan2(a,b-c)*180/Math.PI;\n\n    if(dir<0){\n        dir=dir+360;\n    }\n    re_dir=dir-bearing;\n    if(re_dir<0){\n        re_dir=re_dir+360;\n    }\nreturn (Math.floor(re_dir*100)) / 100;\n}\n\nfunction slope(alt1,alt2){\n    if((alt1-alt2) != 0){\n        climb=(alt1-alt2)*100/dis;\n    }\n    else{\n        climb=0;\n    }\n    return climb;\n}\n\n//function kmh(x) {\n//return (Math.round(x*3.6*100))/100;\n//}\n\n//if(msg.payload.tst==msg.payload.tstd){\n//    msg.payload={\n//        error:msg.payload.tst,\n//    };\n//return msg;    \n//}\n//else{\nduration=msg.payload.tst-msg.payload.tstd;\ndist=distance(msg.payload.lat,msg.payload.lon,msg.payload.latx, msg.payload.lony);\n//speed=Math.round((dist/duration)*100)/100;\nspeed=dist/duration;\ndis=distance(msg.payload.lat,msg.payload.lon,flow.get(\"latx\"),flow.get(\"lony\"));\nkmh=speed*3.6;\n\nmsg.payload={\n    speed: speed,\n    dis:dis,\n    bearing: direction(msg.payload.latx, msg.payload.lony,msg.payload.lat,msg.payload.lon),\n    lat: msg.payload.lat,\n    lon: msg.payload.lon,\n    //latx:flow.get(\"latx\"),\n    //lony:flow.get(\"lony\"),\n    tst: msg.payload.tst,\n    tstd: msg.payload.tstd,\n    alt: msg.payload.alt,\n    //name:msg.payload.name,\n    kmh:Math.round((kmh*10)/10),//時速(km/h)\n    //kmh: kmh,\n    //icon: \"arrow\",\n    //iconColor:\"green\",\n    climb:slope(msg.payload.alt,msg.payload.altd),\n    acc:msg.payload.acc,\n    latx:msg.payload.latx,\n    lony:msg.payload.lony,\n    };\n    \nreturn msg;\n\n//}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// ここに記述したコードは、ノードをデプロイした時に\n// 一度だけ実行されます。\ndis=0.00",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 360,
        "wires": [
            [
                "0ec73d7770ee3e77"
            ]
        ]
    },
    {
        "id": "8658db5e9b1a8a6c",
        "type": "change",
        "z": "aeb7525ab85c57cf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.acc",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 200,
        "wires": [
            [
                "fe58377640f0af77"
            ]
        ]
    },
    {
        "id": "aa5747510e193c63",
        "type": "switch",
        "z": "aeb7525ab85c57cf",
        "name": "location",
        "property": "payload._type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "location",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 360,
        "y": 200,
        "wires": [
            [
                "a689fdf29b19e7ef",
                "b557da5c13aa72a0",
                "737b5f7ecc723d36"
            ]
        ]
    },
    {
        "id": "6c70ed82d32588b4",
        "type": "inject",
        "z": "aeb7525ab85c57cf",
        "name": "",
        "props": [],
        "repeat": "4",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1390,
        "y": 300,
        "wires": [
            [
                "b0419865a28d5239"
            ]
        ]
    },
    {
        "id": "b0419865a28d5239",
        "type": "function",
        "z": "aeb7525ab85c57cf",
        "name": "move map",
        "func": "msg.payload ={\n    command:{\n        //lat: msg.payload.lat,\n        //lon: msg.payload.lon,\n        lat:global.get(\"lat3\"),\n        lon:global.get(\"lon3\"),\n        //layer:\"Esri\",e\n    }    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 300,
        "wires": [
            [
                "65a264793457c4fe"
            ]
        ]
    },
    {
        "id": "ead4edbd94325d40",
        "type": "debug",
        "z": "aeb7525ab85c57cf",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 140,
        "wires": []
    },
    {
        "id": "b557da5c13aa72a0",
        "type": "switch",
        "z": "aeb7525ab85c57cf",
        "name": "lat not null",
        "property": "payload.lat",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 110,
        "y": 280,
        "wires": [
            [
                "a76e2912385cd21c"
            ]
        ]
    },
    {
        "id": "060949eeb5c388ac",
        "type": "worldmap in",
        "z": "aeb7525ab85c57cf",
        "name": "",
        "path": "/worldmap3",
        "events": "connect",
        "x": 1080,
        "y": 520,
        "wires": [
            [
                "75ecac7ea7b23735",
                "255112fe1d8cd943",
                "02fe054bd39e7430",
                "215f506c83f21dab"
            ]
        ]
    },
    {
        "id": "75ecac7ea7b23735",
        "type": "change",
        "z": "aeb7525ab85c57cf",
        "name": "base",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "base",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 540,
        "wires": [
            [
                "65a264793457c4fe"
            ]
        ]
    },
    {
        "id": "255112fe1d8cd943",
        "type": "change",
        "z": "aeb7525ab85c57cf",
        "name": "reset",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "reset",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 580,
        "wires": [
            [
                "65a264793457c4fe"
            ]
        ]
    },
    {
        "id": "13fe7f37933cf2b2",
        "type": "function",
        "z": "aeb7525ab85c57cf",
        "name": "距離計算",
        "func": "min=flow.get(\"min\");\nkmh=msg.payload.kmh;\n\nfunction distance(lat1, lng1, lat2, lng2 ) {\n    \n         lat1 *= Math.PI / 180;\n         lng1 *= Math.PI / 180;\n         lat2 *= Math.PI / 180;\n         lng2 *= Math.PI / 180;\n         dis = 1000*6371 * Math.acos(Math.cos(lat1) * Math.cos(lat2) * Math.cos(lng2 - lng1) + Math.sin(lat1) * Math.sin(lat2))\n         return (Math.round(dis * 1000)) / 1000;\n    \n     \n}\n\n\n\n\n\ndist=distance(msg.payload.lat,msg.payload.lon,flow.get(\"latx\"),flow.get(\"lony\"));\n\nif(kmh>=min){\nmsg.payload={\n    kmh: kmh,\n    dis:dist,\n    lat: msg.payload.lat,\n    lon: msg.payload.lon,\n    latx:flow.get(\"latx\"),\n    lony:flow.get(\"lony\"),\n    tst: msg.payload.tst,\n    tstd: msg.payload.tstd,\n    alt: msg.payload.alt,\n    //name:msg.payload.name,\n    speed: msg.payload.speed,\n    //icon: \"arrow\",\n    //iconColor:\"green\",\n    //climb:slope(msg.payload.alt,msg.payload.altd),\n    acc:msg.payload.acc,\n    };\n    \n    flow.set(\"latx\",msg.payload.lat);\n    flow.set(\"lony\",msg.payload.lon);\n\nreturn msg;\n}\n//}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// ここに記述したコードは、ノードをデプロイした時に\n// 一度だけ実行されます。\ndis=0.00",
        "finalize": "",
        "x": 300,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "49005e76c77f4e29",
        "type": "link out",
        "z": "aeb7525ab85c57cf",
        "name": "3移動",
        "links": [
            "5bc8b1cd9e2e17d8",
            "619016e55ac7e0ca"
        ],
        "x": 695,
        "y": 460,
        "wires": []
    },
    {
        "id": "a689fdf29b19e7ef",
        "type": "delay",
        "z": "aeb7525ab85c57cf",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 550,
        "y": 200,
        "wires": [
            [
                "8658db5e9b1a8a6c"
            ]
        ]
    },
    {
        "id": "5b80956b045b0b9c",
        "type": "ui_text",
        "z": "aeb7525ab85c57cf",
        "group": "5f4944a8c3476a81",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "GPS発行時間",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 940,
        "y": 260,
        "wires": []
    },
    {
        "id": "ae4ca30cb596956b",
        "type": "ui_text",
        "z": "aeb7525ab85c57cf",
        "group": "5f4944a8c3476a81",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "総距離",
        "format": "{{msg.payload.oddt}}",
        "layout": "row-spread",
        "x": 1450,
        "y": 920,
        "wires": []
    },
    {
        "id": "2d365993f79abf20",
        "type": "template",
        "z": "aeb7525ab85c57cf",
        "name": "現情報",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.genku}}/{{payload.zenku}}区　3移動距離:{{payload.odd}}m/{{payload.kukyori}}m",
        "output": "str",
        "x": 1450,
        "y": 980,
        "wires": [
            [
                "87e489df45b215d0",
                "619caa8b4b254864"
            ]
        ]
    },
    {
        "id": "87e489df45b215d0",
        "type": "ui_template",
        "z": "aeb7525ab85c57cf",
        "group": "5f4944a8c3476a81",
        "name": "区/距離",
        "order": 8,
        "width": 15,
        "height": 2,
        "format": "<font size=\"6\"><div ng-bind-html=\"msg.payload\"> </div></font> ",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1640,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "b29a8d5e8578556f",
        "type": "debug",
        "z": "aeb7525ab85c57cf",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1470,
        "y": 860,
        "wires": []
    },
    {
        "id": "619caa8b4b254864",
        "type": "ui_template",
        "z": "aeb7525ab85c57cf",
        "group": "1e861d64.540cc3",
        "name": "3移動情報",
        "order": 4,
        "width": 11,
        "height": 1,
        "format": "<font size=\"5\"><div ng-bind-html=\"msg.payload\"></div></font>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1650,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "383979d1566e9b2c",
        "type": "mqtt in",
        "z": "aeb7525ab85c57cf",
        "name": "",
        "topic": "trip3/odd",
        "qos": "0",
        "datatype": "json",
        "broker": "58bd0fd66116561d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 1260,
        "y": 920,
        "wires": [
            [
                "2d365993f79abf20",
                "ae4ca30cb596956b",
                "b29a8d5e8578556f"
            ]
        ]
    },
    {
        "id": "e50ce16ce0fa8a66",
        "type": "worldmap-tracks",
        "z": "006e761ebec3950a",
        "name": "tracks1",
        "depth": "14400",
        "layer": "single",
        "smooth": false,
        "x": 540,
        "y": 500,
        "wires": [
            [
                "c1796f3c6d3f6050",
                "961903cfc3f74408"
            ]
        ]
    },
    {
        "id": "4d97a6522904cd49",
        "type": "change",
        "z": "006e761ebec3950a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.color",
                "pt": "msg",
                "to": "blue",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 500,
        "wires": [
            [
                "e50ce16ce0fa8a66"
            ]
        ]
    },
    {
        "id": "02fe054bd39e7430",
        "type": "change",
        "z": "aeb7525ab85c57cf",
        "name": "tracks",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "tracks3",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 500,
        "wires": [
            [
                "65a264793457c4fe"
            ]
        ]
    },
    {
        "id": "0eb1020faa9f87c5",
        "type": "template",
        "z": "006e761ebec3950a",
        "name": "GPS誤差",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "GPS誤差　X座標：{{payload.epx}}ｍ　Y座標：{{payload.epy}}ｍ",
        "output": "str",
        "x": 360,
        "y": 220,
        "wires": [
            [
                "30222ae3d3990f54",
                "a05399cd9625d9c9"
            ]
        ]
    },
    {
        "id": "30222ae3d3990f54",
        "type": "ui_template",
        "z": "006e761ebec3950a",
        "group": "7822e817.03bb38",
        "name": "gps誤差",
        "order": 6,
        "width": 7,
        "height": 1,
        "format": "<font size=\"3\"><div ng-bind-html=\"msg.payload\"> </div></font> ",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 500,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "46913c78f1e585f8",
        "type": "moment",
        "z": "006e761ebec3950a",
        "name": "",
        "topic": "",
        "input": "payload.time",
        "inputType": "msg",
        "inTz": "Asia/Tokyo",
        "adjAmount": "9",
        "adjType": "hours",
        "adjDir": "add",
        "format": "",
        "locale": "ja-JP",
        "output": "payload.time",
        "outputType": "msg",
        "outTz": "Asia/Tokyo",
        "x": 380,
        "y": 320,
        "wires": [
            [
                "fcdfa14fbca9f883",
                "36d046551cba8120"
            ]
        ]
    },
    {
        "id": "0249409da663464f",
        "type": "moment",
        "z": "006e761ebec3950a",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "Asia/Tokyo",
        "adjAmount": "9",
        "adjType": "hours",
        "adjDir": "add",
        "format": "date",
        "locale": "ja-JP",
        "output": "",
        "outputType": "msg",
        "outTz": "Asia/Tokyo",
        "x": 540,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "2daa6b25f253882d",
        "type": "msg-size",
        "z": "006e761ebec3950a",
        "name": "",
        "frequency": "sec",
        "interval": 1,
        "statusContent": "tot",
        "estimation": false,
        "ignore": false,
        "pauseAtStartup": false,
        "humanReadableStatus": true,
        "topicDependent": false,
        "x": 100,
        "y": 400,
        "wires": [
            [],
            [
                "9b89b3fde52dce8d"
            ]
        ]
    },
    {
        "id": "9cb2b099d884dc41",
        "type": "delay",
        "z": "006e761ebec3950a",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "x": 310,
        "y": 820,
        "wires": [
            [
                "ab576d8c6c99af0a"
            ]
        ]
    },
    {
        "id": "e69305dd852faaf9",
        "type": "mqtt out",
        "z": "006e761ebec3950a",
        "name": "",
        "topic": "request",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "58bd0fd66116561d",
        "x": 580,
        "y": 580,
        "wires": []
    },
    {
        "id": "17907964acfb740a",
        "type": "mqtt in",
        "z": "083b23ab72f662ce",
        "name": "",
        "topic": "pointdata",
        "qos": "2",
        "datatype": "json",
        "broker": "58bd0fd66116561d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 80,
        "y": 840,
        "wires": [
            [
                "c440e67f31f22188"
            ]
        ]
    },
    {
        "id": "66a216fbaf6c2963",
        "type": "change",
        "z": "083b23ab72f662ce",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "base",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "dc5e723a03be31b6",
        "type": "join",
        "z": "083b23ab72f662ce",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "1",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 450,
        "y": 960,
        "wires": [
            [
                "66a216fbaf6c2963"
            ]
        ]
    },
    {
        "id": "c440e67f31f22188",
        "type": "switch",
        "z": "083b23ab72f662ce",
        "name": "",
        "property": "payload.number",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 840,
        "wires": [
            [
                "ec978f45f31e7498",
                "7cc94128fe1a3c01"
            ],
            [
                "dc5e723a03be31b6"
            ]
        ]
    },
    {
        "id": "7cc94128fe1a3c01",
        "type": "join",
        "z": "083b23ab72f662ce",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "1",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 450,
        "y": 900,
        "wires": [
            [
                "a484f7ab951f7eb3"
            ]
        ]
    },
    {
        "id": "a484f7ab951f7eb3",
        "type": "change",
        "z": "083b23ab72f662ce",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "ec978f45f31e7498",
        "type": "function",
        "z": "083b23ab72f662ce",
        "name": "全区セット",
        "func": "x=msg.payload.reset;\n\nif(x > zenku){\n    //zenku=x;\n    zenku=x;\n}\n\nglobal.set(\"zenku\",zenku-1);\nmsg.payload=zenku;\n//msg.payload=x;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// ここに記述したコードは、ノードをデプロイした時に\n// 一度だけ実行されます。\nzenku=0;\nglobal.set(\"genku1\",0)",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "b8886d9bad733552",
        "type": "moment",
        "z": "aeb7525ab85c57cf",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "Asia/Tokyo",
        "adjAmount": "9",
        "adjType": "hours",
        "adjDir": "add",
        "format": "",
        "locale": "ja-JP",
        "output": "",
        "outputType": "msg",
        "outTz": "Asia/Tokyo",
        "x": 720,
        "y": 260,
        "wires": [
            [
                "5b80956b045b0b9c",
                "7991f821534c772f"
            ]
        ]
    },
    {
        "id": "215f506c83f21dab",
        "type": "mqtt out",
        "z": "aeb7525ab85c57cf",
        "name": "",
        "topic": "request",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "58bd0fd66116561d",
        "x": 1260,
        "y": 460,
        "wires": []
    },
    {
        "id": "cf979eb2ff326392",
        "type": "inject",
        "z": "083b23ab72f662ce",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 150,
        "y": 700,
        "wires": [
            [
                "3f3bee30c739e274"
            ]
        ]
    },
    {
        "id": "3f3bee30c739e274",
        "type": "moment",
        "z": "083b23ab72f662ce",
        "name": "",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "Asia/Tokyo",
        "adjAmount": "9",
        "adjType": "hours",
        "adjDir": "add",
        "format": "",
        "locale": "ja-JP",
        "output": "",
        "outputType": "msg",
        "outTz": "Asia/Tokyo",
        "x": 370,
        "y": 700,
        "wires": [
            [
                "39ce8c7c29bed32f",
                "dfc5f4969beb8527"
            ]
        ]
    },
    {
        "id": "dfc5f4969beb8527",
        "type": "ui_text",
        "z": "083b23ab72f662ce",
        "group": "5f4944a8c3476a81",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "サーバー時間",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 600,
        "y": 740,
        "wires": []
    },
    {
        "id": "f23a3aa8e506eb2f",
        "type": "change",
        "z": "aeb7525ab85c57cf",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload.latx",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "payload.lony",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 700,
        "wires": [
            [
                "e458f4c249763f48"
            ]
        ]
    },
    {
        "id": "c7898d5fa8d47f82",
        "type": "change",
        "z": "006e761ebec3950a",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.acc",
                "pt": "msg",
                "to": "(payload.epx+payload.epy)/2",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 760,
        "wires": [
            [
                "32be981d908c805e"
            ]
        ]
    },
    {
        "id": "90b8de7ecf37254f",
        "type": "mqtt out",
        "z": "083b23ab72f662ce",
        "name": "",
        "topic": "request",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "58bd0fd66116561d",
        "x": 540,
        "y": 340,
        "wires": []
    },
    {
        "id": "663640312deeddb3",
        "type": "link out",
        "z": "aeb7525ab85c57cf",
        "name": "line3",
        "links": [
            "5bc8b1cd9e2e17d8"
        ],
        "x": 1395,
        "y": 680,
        "wires": []
    },
    {
        "id": "c5389aa70a263afa",
        "type": "link out",
        "z": "006e761ebec3950a",
        "name": "line1",
        "links": [
            "5bc8b1cd9e2e17d8"
        ],
        "x": 1015,
        "y": 740,
        "wires": []
    },
    {
        "id": "619016e55ac7e0ca",
        "type": "link in",
        "z": "083b23ab72f662ce",
        "name": "",
        "links": [
            "49005e76c77f4e29"
        ],
        "x": 695,
        "y": 180,
        "wires": [
            [
                "6d4f20751b3cbc7a"
            ]
        ]
    },
    {
        "id": "5bc8b1cd9e2e17d8",
        "type": "link in",
        "z": "083b23ab72f662ce",
        "name": "",
        "links": [
            "08dd34d8c42af572",
            "49005e76c77f4e29",
            "663640312deeddb3",
            "961903cfc3f74408",
            "c5389aa70a263afa",
            "ce6f4b8bbd89b451"
        ],
        "x": 835,
        "y": 360,
        "wires": [
            [
                "0254017e5b726446"
            ]
        ]
    },
    {
        "id": "6ce3c143f4462f91",
        "type": "ui_chart",
        "z": "af3d37bbb5024b33",
        "name": "API高度",
        "group": "1e861d64.540cc3",
        "order": 8,
        "width": 11,
        "height": 5,
        "label": "API高度",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "monotone",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 840,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "e5891f34a7a91925",
        "type": "ui_template",
        "z": "af3d37bbb5024b33",
        "group": "1e861d64.540cc3",
        "name": "標高",
        "order": 6,
        "width": 11,
        "height": 1,
        "format": "<font size=\"6\"><div ng-bind-html=\"msg.payload\"> </div></font> ",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 950,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "2433b8f171c2441c",
        "type": "template",
        "z": "af3d37bbb5024b33",
        "name": "現情報",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{msg.payload.result}}／{{msg.payload.area}}",
        "output": "str",
        "x": 1090,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "acc4f6f5e61598ea",
        "type": "ui_template",
        "z": "af3d37bbb5024b33",
        "group": "7822e817.03bb38",
        "name": "標高",
        "order": 17,
        "width": 15,
        "height": 2,
        "format": "<font size=\"6\"><div ng-bind-html=\"msg.payload\"> </div></font> ",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 950,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "df55eda284bcb737",
        "type": "template",
        "z": "af3d37bbb5024b33",
        "name": "現情報",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "標高：{{payload}}",
        "output": "str",
        "x": 830,
        "y": 540,
        "wires": [
            [
                "e5891f34a7a91925",
                "acc4f6f5e61598ea"
            ]
        ]
    },
    {
        "id": "a1889393f270040d",
        "type": "ui_template",
        "z": "af3d37bbb5024b33",
        "group": "1e861d64.540cc3",
        "name": "場所情報",
        "order": 7,
        "width": 11,
        "height": 2,
        "format": "<font size=\"6\"><div ng-bind-html=\"msg.payload\"> </div></font> ",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 1300,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "a05399cd9625d9c9",
        "type": "ui_template",
        "z": "006e761ebec3950a",
        "group": "1e861d64.540cc3",
        "name": "gps誤差",
        "order": 9,
        "width": 6,
        "height": 1,
        "format": "<font size=\"3\"><div ng-bind-html=\"msg.payload\"> </div></font> ",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 500,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "6431d7f126204980",
        "type": "template",
        "z": "aeb7525ab85c57cf",
        "name": "GPS誤差",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "GPS誤差　{{payload.acc}}ｍ　",
        "output": "str",
        "x": 740,
        "y": 340,
        "wires": [
            [
                "671955ad94173b22",
                "ac6a66455d4c3359"
            ]
        ]
    },
    {
        "id": "671955ad94173b22",
        "type": "ui_template",
        "z": "aeb7525ab85c57cf",
        "group": "7822e817.03bb38",
        "name": "gps誤差",
        "order": 6,
        "width": 7,
        "height": 1,
        "format": "<font size=\"3\"><div ng-bind-html=\"msg.payload\"> </div></font> ",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 920,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "ac6a66455d4c3359",
        "type": "ui_template",
        "z": "aeb7525ab85c57cf",
        "group": "1e861d64.540cc3",
        "name": "gps誤差",
        "order": 10,
        "width": 4,
        "height": 1,
        "format": "<font size=\"3\"><div ng-bind-html=\"msg.payload\"> </div></font> ",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 920,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "36d046551cba8120",
        "type": "ui_text",
        "z": "006e761ebec3950a",
        "group": "1e861d64.540cc3",
        "order": 3,
        "width": 11,
        "height": 1,
        "name": "",
        "label": "GPS発行時間",
        "format": "{{msg.payload.time}}",
        "layout": "row-spread",
        "x": 620,
        "y": 360,
        "wires": []
    },
    {
        "id": "7991f821534c772f",
        "type": "ui_text",
        "z": "aeb7525ab85c57cf",
        "group": "1e861d64.540cc3",
        "order": 5,
        "width": 11,
        "height": 1,
        "name": "",
        "label": "GPS発行時間",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 940,
        "y": 220,
        "wires": []
    },
    {
        "id": "a0314d4fe254ba68",
        "type": "ui_gauge",
        "z": "083b23ab72f662ce",
        "name": "3方角",
        "group": "1e861d64.540cc3",
        "order": 19,
        "width": 3,
        "height": 3,
        "gtype": "compass",
        "title": "{{msg.payload.name}}方角",
        "label": "℃",
        "format": "{{msg.payload.dir}}",
        "min": "0",
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 2210,
        "y": 220,
        "wires": []
    },
    {
        "id": "7af60a4e03eb4cc1",
        "type": "ui_text",
        "z": "083b23ab72f662ce",
        "group": "1e861d64.540cc3",
        "order": 31,
        "width": 3,
        "height": 1,
        "name": "3距離",
        "label": "{{msg.payload.name}}距離",
        "format": "{{msg.payload.kyori}}　km",
        "layout": "row-center",
        "x": 2210,
        "y": 180,
        "wires": []
    },
    {
        "id": "39c73a471cc688c4",
        "type": "ui_gauge",
        "z": "083b23ab72f662ce",
        "name": "2方角",
        "group": "1e861d64.540cc3",
        "order": 17,
        "width": 3,
        "height": 3,
        "gtype": "compass",
        "title": "{{msg.payload.name}}方角",
        "label": "℃",
        "format": "{{msg.payload.dir}}",
        "min": "0",
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 2210,
        "y": 140,
        "wires": []
    },
    {
        "id": "fc8a84d1adc8a163",
        "type": "ui_text",
        "z": "083b23ab72f662ce",
        "group": "1e861d64.540cc3",
        "order": 29,
        "width": 3,
        "height": 1,
        "name": "2距離",
        "label": "{{msg.payload.name}}距離",
        "format": "{{msg.payload.kyori}}　km",
        "layout": "row-center",
        "x": 2210,
        "y": 100,
        "wires": []
    },
    {
        "id": "28417919f2aaa14f",
        "type": "ui_gauge",
        "z": "083b23ab72f662ce",
        "name": "1方角",
        "group": "1e861d64.540cc3",
        "order": 15,
        "width": 3,
        "height": 3,
        "gtype": "compass",
        "title": "{{msg.payload.name}}",
        "label": "℃",
        "format": "{{msg.payload.dir}}",
        "min": "0",
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 2210,
        "y": 60,
        "wires": []
    },
    {
        "id": "1f4af398c31665d9",
        "type": "ui_text",
        "z": "083b23ab72f662ce",
        "group": "1e861d64.540cc3",
        "order": 27,
        "width": 3,
        "height": 1,
        "name": "1距離",
        "label": "{{msg.payload.name}}距離",
        "format": "{{msg.payload.kyori}}　km",
        "layout": "row-center",
        "x": 2210,
        "y": 20,
        "wires": []
    },
    {
        "id": "34ec42057ac2ce78",
        "type": "function",
        "z": "083b23ab72f662ce",
        "name": "@距離re角度",
        "func": "function distance(lat1, lng1, lat2, lng2) {\n  lat1 *= Math.PI / 180;\n  lng1 *= Math.PI / 180;\n  lat2 *= Math.PI / 180;\n  lng2 *= Math.PI / 180;\n  dis = 6371 * Math.acos(Math.cos(lat1) * Math.cos(lat2) * Math.cos(lng2 - lng1) + Math.sin(lat1) * Math.sin(lat2));\nreturn (Math.round(dis * 1000)) / 1000\n}\n\nfunction direction(y1, x1, y2, x2) {\n    z = x2-x1\n    z *=  Math.PI / 180;\n    y1 *= Math.PI / 180;\n    x1 *= Math.PI / 180;\n    y2 *= Math.PI / 180;\n    x2 *= Math.PI / 180;\n    //x1 = Math.toRadians(x1);\n   // x2 = Math.toRadians(x2);\n   // y1 = Math.toRadians(y1);\n   // y2 = Math.toRadians(y2);\n    a=Math.sin(z);\n    b=Math.cos(y1)*Math.tan(y2);\n    c=Math.sin(y1)*Math.cos(z);\n    //deg = Math.toDegrees(Math.atan2(a,b-c));\n    //angle = (deg + 360) % 360;\n    //return  (Math.abs(angle) + (1 / 7200));\n//return  90-Math.atan2( Math.sin(x2-x1), Math.cos(y1)*Math.tan(y2)-Math.sin(y1)*Math.cos(x2-x1));\n\n    dir=Math.atan2(a,b-c)*180/Math.PI;\n//return  Math.atan2(a,b-c)*180/Math.PI;\n    if(dir<0){\n        dir=dir+360;\n    }\nreturn (Math.floor(dir*100)) / 100;\n}\n\nfunction redirection(y1, x1, y2, x2, bearing) {\n    z = x2-x1\n    z *=  Math.PI / 180;\n    y1 *= Math.PI / 180;\n    x1 *= Math.PI / 180;\n    y2 *= Math.PI /180;\n    x2 *= Math.PI / 180;\n    //x1 = Math.toRadians(x1);\n   // x2 = Math.toRadians(x2);\n   // y1 = Math.toRadians(y1);\n   // y2 = Math.toRadians(y2);\n    a=Math.sin(z);\n    b=Math.cos(y1)*Math.tan(y2);\n    c=Math.sin(y1)*Math.cos(z);\n    //deg = Math.toDegrees(Math.atan2(a,b-c));\n    //angle = (deg + 360) % 360;\n    //return  (Math.abs(angle) + (1 / 7200));\n//return  90-Math.atan2( Math.sin(x2-x1), Math.cos(y1)*Math.tan(y2)-Math.sin(y1)*Math.cos(x2-x1));\n\n    dir=Math.atan2(a,b-c)*180/Math.PI;\n//return  Math.atan2(a,b-c)*180/Math.PI;\n    if(dir<0){\n        dir=dir+360;\n    }\n    re_dir=dir-bearing;\n    if(re_dir<0){\n        re_dir=re_dir+360;\n    }\nreturn (Math.floor(re_dir*100)) / 100;\n}\n\n//function kmh(x) {\n//return (Math.round(x*3.6*100))/100;\n//}\n\nmsg.payload={\n    kyori: distance(msg.payload.lat,msg.payload.lon,msg.payload.latx, msg.payload.lony),\n    dir: direction(msg.payload.lat, msg.payload.lon,msg.payload.latx,msg.payload.lony),\n    //lat: msg.payload.lat,\n    //lon: msg.payload.lon,\n    device: msg.payload.device,\n    name: msg.payload.name,\n    //speed: kmh(msg.payload.speed),\n    re_dir: redirection(msg.payload.latx, msg.payload.lony,msg.payload.lat,msg.payload.lon,msg.payload.bearing),\n    //speed: msg.payload.speed*3.6,\n    //bearing: msg.payload.track,\n    //popped: true,\n    //clickable: true,\n    //icon: \"globe\",\n    //icon: \"arrow\",\n    //icon: \"male\",\n    //iconColor:\"red\",\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1990,
        "y": 40,
        "wires": [
            [
                "28417919f2aaa14f",
                "1f4af398c31665d9"
            ]
        ]
    },
    {
        "id": "d2c752d073fc96b7",
        "type": "function",
        "z": "083b23ab72f662ce",
        "name": "@距離re角度",
        "func": "function distance(lat1, lng1, lat2, lng2) {\n  lat1 *= Math.PI / 180;\n  lng1 *= Math.PI / 180;\n  lat2 *= Math.PI / 180;\n  lng2 *= Math.PI / 180;\n  dis = 6371 * Math.acos(Math.cos(lat1) * Math.cos(lat2) * Math.cos(lng2 - lng1) + Math.sin(lat1) * Math.sin(lat2));\nreturn (Math.round(dis * 1000)) / 1000\n}\n\nfunction direction(y1, x1, y2, x2) {\n    z = x2-x1\n    z *=  Math.PI / 180;\n    y1 *= Math.PI / 180;\n    x1 *= Math.PI / 180;\n    y2 *= Math.PI / 180;\n    x2 *= Math.PI / 180;\n    //x1 = Math.toRadians(x1);\n   // x2 = Math.toRadians(x2);\n   // y1 = Math.toRadians(y1);\n   // y2 = Math.toRadians(y2);\n    a=Math.sin(z);\n    b=Math.cos(y1)*Math.tan(y2);\n    c=Math.sin(y1)*Math.cos(z);\n    //deg = Math.toDegrees(Math.atan2(a,b-c));\n    //angle = (deg + 360) % 360;\n    //return  (Math.abs(angle) + (1 / 7200));\n//return  90-Math.atan2( Math.sin(x2-x1), Math.cos(y1)*Math.tan(y2)-Math.sin(y1)*Math.cos(x2-x1));\n\n    dir=Math.atan2(a,b-c)*180/Math.PI;\n//return  Math.atan2(a,b-c)*180/Math.PI;\n    if(dir<0){\n        dir=dir+360;\n    }\nreturn (Math.floor(dir*100)) / 100;\n}\n\nfunction redirection(y1, x1, y2, x2, bearing) {\n    z = x2-x1\n    z *=  Math.PI / 180;\n    y1 *= Math.PI / 180;\n    x1 *= Math.PI / 180;\n    y2 *= Math.PI /180;\n    x2 *= Math.PI / 180;\n    //x1 = Math.toRadians(x1);\n   // x2 = Math.toRadians(x2);\n   // y1 = Math.toRadians(y1);\n   // y2 = Math.toRadians(y2);\n    a=Math.sin(z);\n    b=Math.cos(y1)*Math.tan(y2);\n    c=Math.sin(y1)*Math.cos(z);\n    //deg = Math.toDegrees(Math.atan2(a,b-c));\n    //angle = (deg + 360) % 360;\n    //return  (Math.abs(angle) + (1 / 7200));\n//return  90-Math.atan2( Math.sin(x2-x1), Math.cos(y1)*Math.tan(y2)-Math.sin(y1)*Math.cos(x2-x1));\n\n    dir=Math.atan2(a,b-c)*180/Math.PI;\n//return  Math.atan2(a,b-c)*180/Math.PI;\n    if(dir<0){\n        dir=dir+360;\n    }\n    re_dir=dir-bearing;\n    if(re_dir<0){\n        re_dir=re_dir+360;\n    }\nreturn (Math.floor(re_dir*100)) / 100;\n}\n\n//function kmh(x) {\n//return (Math.round(x*3.6*100))/100;\n//}\n\nmsg.payload={\n    kyori: distance(msg.payload.lat,msg.payload.lon,msg.payload.latx, msg.payload.lony),\n    dir: direction(msg.payload.lat, msg.payload.lon,msg.payload.latx,msg.payload.lony),\n    //lat: msg.payload.lat,\n    //lon: msg.payload.lon,\n    device: msg.payload.device,\n    name: msg.payload.name,\n    //speed: kmh(msg.payload.speed),\n    re_dir: redirection(msg.payload.latx, msg.payload.lony,msg.payload.lat,msg.payload.lon,msg.payload.bearing),\n    //speed: msg.payload.speed*3.6,\n    //bearing: msg.payload.track,\n    //popped: true,\n    //clickable: true,\n    //icon: \"globe\",\n    //icon: \"arrow\",\n    //icon: \"male\",\n    //iconColor:\"red\",\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1990,
        "y": 100,
        "wires": [
            [
                "39c73a471cc688c4",
                "fc8a84d1adc8a163"
            ]
        ]
    },
    {
        "id": "8a4ceac7bb4d18e9",
        "type": "function",
        "z": "083b23ab72f662ce",
        "name": "@距離re角度",
        "func": "function distance(lat1, lng1, lat2, lng2) {\n  lat1 *= Math.PI / 180;\n  lng1 *= Math.PI / 180;\n  lat2 *= Math.PI / 180;\n  lng2 *= Math.PI / 180;\n  dis = 6371 * Math.acos(Math.cos(lat1) * Math.cos(lat2) * Math.cos(lng2 - lng1) + Math.sin(lat1) * Math.sin(lat2));\nreturn (Math.round(dis * 1000)) / 1000\n}\n\nfunction direction(y1, x1, y2, x2) {\n    z = x2-x1\n    z *=  Math.PI / 180;\n    y1 *= Math.PI / 180;\n    x1 *= Math.PI / 180;\n    y2 *= Math.PI / 180;\n    x2 *= Math.PI / 180;\n    //x1 = Math.toRadians(x1);\n   // x2 = Math.toRadians(x2);\n   // y1 = Math.toRadians(y1);\n   // y2 = Math.toRadians(y2);\n    a=Math.sin(z);\n    b=Math.cos(y1)*Math.tan(y2);\n    c=Math.sin(y1)*Math.cos(z);\n    //deg = Math.toDegrees(Math.atan2(a,b-c));\n    //angle = (deg + 360) % 360;\n    //return  (Math.abs(angle) + (1 / 7200));\n//return  90-Math.atan2( Math.sin(x2-x1), Math.cos(y1)*Math.tan(y2)-Math.sin(y1)*Math.cos(x2-x1));\n\n    dir=Math.atan2(a,b-c)*180/Math.PI;\n//return  Math.atan2(a,b-c)*180/Math.PI;\n    if(dir<0){\n        dir=dir+360;\n    }\nreturn (Math.floor(dir*100)) / 100;\n}\n\nfunction redirection(y1, x1, y2, x2, bearing) {\n    z = x2-x1\n    z *=  Math.PI / 180;\n    y1 *= Math.PI / 180;\n    x1 *= Math.PI / 180;\n    y2 *= Math.PI /180;\n    x2 *= Math.PI / 180;\n    //x1 = Math.toRadians(x1);\n   // x2 = Math.toRadians(x2);\n   // y1 = Math.toRadians(y1);\n   // y2 = Math.toRadians(y2);\n    a=Math.sin(z);\n    b=Math.cos(y1)*Math.tan(y2);\n    c=Math.sin(y1)*Math.cos(z);\n    //deg = Math.toDegrees(Math.atan2(a,b-c));\n    //angle = (deg + 360) % 360;\n    //return  (Math.abs(angle) + (1 / 7200));\n//return  90-Math.atan2( Math.sin(x2-x1), Math.cos(y1)*Math.tan(y2)-Math.sin(y1)*Math.cos(x2-x1));\n\n    dir=Math.atan2(a,b-c)*180/Math.PI;\n//return  Math.atan2(a,b-c)*180/Math.PI;\n    if(dir<0){\n        dir=dir+360;\n    }\n    re_dir=dir-bearing;\n    if(re_dir<0){\n        re_dir=re_dir+360;\n    }\nreturn (Math.floor(re_dir*100)) / 100;\n}\n\n//function kmh(x) {\n//return (Math.round(x*3.6*100))/100;\n//}\n\nmsg.payload={\n    kyori: distance(msg.payload.lat,msg.payload.lon,msg.payload.latx, msg.payload.lony),\n    dir: direction(msg.payload.lat, msg.payload.lon,msg.payload.latx,msg.payload.lony),\n    //lat: msg.payload.lat,\n    //lon: msg.payload.lon,\n    device: msg.payload.device,\n    name: msg.payload.name,\n    //speed: kmh(msg.payload.speed),\n    re_dir: redirection(msg.payload.latx, msg.payload.lony,msg.payload.lat,msg.payload.lon,msg.payload.bearing),\n    //speed: msg.payload.speed*3.6,\n    //bearing: msg.payload.track,\n    //popped: true,\n    //clickable: true,\n    //icon: \"globe\",\n    //icon: \"arrow\",\n    //icon: \"male\",\n    //iconColor:\"red\",\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1990,
        "y": 160,
        "wires": [
            [
                "7af60a4e03eb4cc1",
                "a0314d4fe254ba68"
            ]
        ]
    },
    {
        "id": "3d81841ed88a5f3e",
        "type": "switch",
        "z": "083b23ab72f662ce",
        "name": "",
        "property": "payload.number",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1001",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1002",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1003",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1810,
        "y": 100,
        "wires": [
            [
                "34ec42057ac2ce78"
            ],
            [
                "d2c752d073fc96b7"
            ],
            [
                "8a4ceac7bb4d18e9"
            ]
        ]
    },
    {
        "id": "2ac89dca0d6074c7",
        "type": "change",
        "z": "083b23ab72f662ce",
        "name": "lat→latx",
        "rules": [
            {
                "t": "set",
                "p": "payload.latx",
                "pt": "msg",
                "to": "lat",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.lony",
                "pt": "msg",
                "to": "lon",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.bearing",
                "pt": "msg",
                "to": "bearing",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 180,
        "wires": [
            [
                "3d81841ed88a5f3e"
            ]
        ]
    },
    {
        "id": "08049f64bd59e273",
        "type": "split",
        "z": "083b23ab72f662ce",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1590,
        "y": 120,
        "wires": [
            [
                "2ac89dca0d6074c7"
            ]
        ]
    },
    {
        "id": "bab8924852b7e11e",
        "type": "change",
        "z": "083b23ab72f662ce",
        "name": "base",
        "rules": [
            {
                "t": "move",
                "p": "payload.lat",
                "pt": "msg",
                "to": "lat",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.lon",
                "pt": "msg",
                "to": "lon",
                "tot": "msg"
            },
            {
                "t": "move",
                "p": "payload.bearing",
                "pt": "msg",
                "to": "bearing",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "base",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1570,
        "y": 60,
        "wires": [
            [
                "08049f64bd59e273"
            ]
        ]
    },
    {
        "id": "7e51ac5ac38c98c8",
        "type": "delay",
        "z": "083b23ab72f662ce",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 1330,
        "y": 100,
        "wires": [
            [
                "bab8924852b7e11e"
            ]
        ]
    },
    {
        "id": "571b3414a69f344d",
        "type": "debug",
        "z": "006e761ebec3950a",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 660,
        "wires": []
    },
    {
        "id": "fe441c0dcab3740b",
        "type": "debug",
        "z": "083b23ab72f662ce",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 20,
        "wires": []
    },
    {
        "id": "6b4f5fca4748ca94",
        "type": "switch",
        "z": "7adb20e994873399",
        "name": "latx not 0",
        "property": "payload.latx",
        "propertyType": "msg",
        "rules": [
            {
                "t": "neq",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 320,
        "y": 140,
        "wires": [
            [
                "337ce3e2cbacb88f"
            ]
        ]
    },
    {
        "id": "c1870a99c05faee7",
        "type": "switch",
        "z": "7adb20e994873399",
        "name": "acc",
        "property": "payload.acc",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "10",
                "vt": "num"
            },
            {
                "t": "lte",
                "v": "20",
                "vt": "num"
            },
            {
                "t": "gt",
                "v": "20",
                "vt": "num"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 750,
        "y": 140,
        "wires": [
            [
                "d536e62fe6d7532c"
            ],
            [
                "f31fa2a1b468a1d8"
            ],
            [
                "dad576be36711b22"
            ]
        ]
    },
    {
        "id": "d536e62fe6d7532c",
        "type": "change",
        "z": "7adb20e994873399",
        "name": "acc10",
        "rules": [
            {
                "t": "set",
                "p": "payload.color",
                "pt": "msg",
                "to": "lime",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "acc10",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 140,
        "wires": [
            [
                "564c5f0228438425",
                "e33cebfd0265ad86"
            ]
        ]
    },
    {
        "id": "f31fa2a1b468a1d8",
        "type": "change",
        "z": "7adb20e994873399",
        "name": "acc20",
        "rules": [
            {
                "t": "set",
                "p": "payload.color",
                "pt": "msg",
                "to": "#FFCC00",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "acc20",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 180,
        "wires": [
            [
                "564c5f0228438425",
                "e33cebfd0265ad86"
            ]
        ]
    },
    {
        "id": "dad576be36711b22",
        "type": "change",
        "z": "7adb20e994873399",
        "name": "accbad",
        "rules": [
            {
                "t": "set",
                "p": "payload.color",
                "pt": "msg",
                "to": "red",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.name",
                "pt": "msg",
                "to": "accbad",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 220,
        "wires": [
            [
                "e33cebfd0265ad86",
                "564c5f0228438425"
            ]
        ]
    },
    {
        "id": "564c5f0228438425",
        "type": "function",
        "z": "7adb20e994873399",
        "name": "座標配列",
        "func": "line=Array(2);\nline[0]=[msg.payload.latx,msg.payload.lony];\nline[1]=[msg.payload.lat,msg.payload.lon];\nmsg.payload={\n    name:i,\n    color:msg.payload.color,\n    weight:\"4\",\n    line:line,\n    layer: msg.payload.layer\n}\ni++;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// ここに記述したコードは、ノードをデプロイした時に\n// 一度だけ実行されます。\ni=0;",
        "finalize": "",
        "libs": [],
        "x": 1140,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "6fbb29417bc6a496",
        "type": "function",
        "z": "7adb20e994873399",
        "name": "2点間線配列",
        "func": "if(i > 1200){\n    //tracks[j]=payload;\n    //global.set(\"tracks\",tracks)\n    i=0;\n    //j++;\n}\npayload[i]=msg.payload;\ni++;\nmsg.payload=payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// ここに記述したコードは、ノードをデプロイした時に\n// 一度だけ実行されます。\npayload=Array();\ni=0;\nj=0;\ntracks=Array();",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "644d18d9981a2f19",
        "type": "function",
        "z": "7adb20e994873399",
        "name": "前後GPS",
        "func": "msg.payload={\n    lat:msg.payload.lat,\n    lon:msg.payload.lon,\n    latx:latx,\n    lony:lony,\n    //tstd:tstd,\n    //altd:altd,\n    name:msg.payload.name,\n    //alt:msg.payload.alt,\n    //tst:msg.payload.time,\n    //bearing:msg.payload.bearing,\n    //speed:msg.payload.speed,\n    //climb: msg.payload.climb,\n    //acc:(msg.payload.epx+msg.payload.epy)/2,\n    acc:msg.payload.acc,\n}\nlatx=msg.payload.lat;\nlony=msg.payload.lon;\n//tstd=msg.payload.tst;\n//altd=msg.payload.alt;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// ここに記述したコードは、ノードをデプロイした時に\n// 一度だけ実行されます。\nlatx=0;\nlony=0;\ntstd=0;\naltd=0;",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 140,
        "wires": [
            [
                "6b4f5fca4748ca94"
            ]
        ]
    },
    {
        "id": "39272912041aacc1",
        "type": "rbe",
        "z": "7adb20e994873399",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 670,
        "y": 80,
        "wires": [
            [
                "c1870a99c05faee7"
            ]
        ]
    },
    {
        "id": "337ce3e2cbacb88f",
        "type": "change",
        "z": "7adb20e994873399",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.name",
                "pt": "msg",
                "to": "payload.layer",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 140,
        "wires": [
            [
                "39272912041aacc1"
            ]
        ]
    },
    {
        "id": "e33cebfd0265ad86",
        "type": "function",
        "z": "7adb20e994873399",
        "name": "座標配列mk2",
        "func": "coordinate=Array(2);\ncoordinate[0]=msg.payload.lat;\ncoordinate[1]=msg.payload.lon;\n//line[i]=coordinate;\n\nif(j == 0){\n    payload[0]={\n        //line:line[i],\n        line:coordinate,\n        color:msg.payload.color,\n        weight:4,\n        name:\"line\"+j,\n        layer: msg.payload.layer,\n    }\n}\n\nif(color !=　msg.payload.color){\n   i=0;\n   j++;\n   line=Array();\n}\n\nif(k > 14400){\n    i=0;\n    J=0;\n    k=0;\n}\n\nline[i]=coordinate;\npayload[j]={\n    line:line,\n    color:msg.payload.color,\n    weight:4,\n    name:\"line\"+j,\n    layer: msg.payload.layer,\n    //k:k,\n    }\n\ncolor=msg.payload.color; \nmsg.payload=payload;\ni++;\nk++;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// ここに記述したコードは、ノードをデプロイした時に\n// 一度だけ実行されます。\ni=0;\nj=0;\nk=0;\nline=Array();\npayload=Array();\ncolor=\"red\";",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "32be981d908c805e",
        "type": "subflow:7adb20e994873399",
        "z": "006e761ebec3950a",
        "name": "",
        "env": [],
        "x": 860,
        "y": 760,
        "wires": [
            [
                "c1796f3c6d3f6050",
                "571b3414a69f344d",
                "c5389aa70a263afa"
            ],
            []
        ]
    },
    {
        "id": "e458f4c249763f48",
        "type": "subflow:7adb20e994873399",
        "z": "aeb7525ab85c57cf",
        "name": "",
        "x": 1240,
        "y": 700,
        "wires": [
            [
                "663640312deeddb3",
                "65a264793457c4fe"
            ],
            []
        ]
    },
    {
        "id": "961903cfc3f74408",
        "type": "link out",
        "z": "006e761ebec3950a",
        "name": "tracks1",
        "links": [
            "c13e87947858f40a",
            "5bc8b1cd9e2e17d8"
        ],
        "x": 655,
        "y": 480,
        "wires": []
    },
    {
        "id": "ac1e89e151cee2bf",
        "type": "worldmap-tracks",
        "z": "aeb7525ab85c57cf",
        "name": "tracks3",
        "depth": "1000",
        "layer": "separate",
        "smooth": false,
        "x": 1080,
        "y": 400,
        "wires": [
            [
                "65a264793457c4fe",
                "08dd34d8c42af572"
            ]
        ]
    },
    {
        "id": "08dd34d8c42af572",
        "type": "link out",
        "z": "aeb7525ab85c57cf",
        "name": "tracks3",
        "links": [
            "5bc8b1cd9e2e17d8"
        ],
        "x": 1255,
        "y": 420,
        "wires": []
    },
    {
        "id": "5e316521ba7d022c",
        "type": "change",
        "z": "aeb7525ab85c57cf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.color",
                "pt": "msg",
                "to": "green",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 400,
        "wires": [
            [
                "ac1e89e151cee2bf"
            ]
        ]
    },
    {
        "id": "0e316a168ba9d8a3",
        "type": "debug",
        "z": "78d2ec05bc770adc",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 220,
        "wires": []
    },
    {
        "id": "a67ae329a919da33",
        "type": "mqtt in",
        "z": "78d2ec05bc770adc",
        "name": "",
        "topic": "owntracks/gpsd/gd",
        "qos": "0",
        "datatype": "json",
        "broker": "58bd0fd66116561d",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 230,
        "y": 220,
        "wires": [
            [
                "0e316a168ba9d8a3"
            ]
        ]
    },
    {
        "id": "60a4b33d3baaf464",
        "type": "gpsd",
        "z": "78d2ec05bc770adc",
        "name": "",
        "hostname": "192.168.24.15",
        "port": "2947",
        "tpv": true,
        "sky": false,
        "info": false,
        "device": false,
        "gst": false,
        "att": false,
        "x": 190,
        "y": 300,
        "wires": [
            [
                "3ad84d7b9c455905"
            ]
        ]
    },
    {
        "id": "3ad84d7b9c455905",
        "type": "debug",
        "z": "78d2ec05bc770adc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 300,
        "wires": []
    },
    {
        "id": "765ac40722e01d5d",
        "type": "catch",
        "z": "78d2ec05bc770adc",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 230,
        "y": 400,
        "wires": [
            [
                "4f564f0ca4024799"
            ]
        ]
    },
    {
        "id": "4f564f0ca4024799",
        "type": "debug",
        "z": "78d2ec05bc770adc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 400,
        "wires": []
    }
]